<b>Welcome to GAVS</b>
<nav>
    <a routerLink="/home">
        <img src="https://i.pinimg.com/originals/a8/8a/8c/a88a8cd82ccd942fe3593d73fc1fb8f7.png"width="40px"/></a>&nbsp;
    <a routerLink="/aboutus">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFVFdp4wtYSs1VDdekrkf77Rp02_y2dGoivQ&usqp=CAU"width="40px"/></a>&nbsp;
    <a routerLink="/contactus">
        <img src="https://c8.alamy.com/comp/HA038J/contact-us-phone-icon-round-border-isolated-on-premium-blue-round-HA038J.jpg"width="40px"/>
    </a>
</nav>

<router-outlet></router-outlet>